.homeCarnaval{
    width: 1920px;
    height: 1080px;
    background: url('./../../assets/carousel/HOME-CARNAVAL-2018-ciudad-1.gif') no-repeat;
    left: -27%;
    margin-top: 0px;
    position: absolute;
}