.color-prueba{
    //background-color: yellowgreen;
}
.bgTope{
    height: 250px;
    background: url('./../../assets/bgTope.png') no-repeat;
    width: 100%;
    background-position-x: 50%;
    background-position-y: 50%;
}