body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow-x: hidden;
}
/*reglas generales*/

//Posiciones
.relative{
  position: relative;
}
.absolute{
  position: absolute;
}
.text-center{
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right{
  text-align: right;
}
.right{
  float: right;
}
//margin
.mt-10{
  margin-top: 10px;
}
.mt-20{
  margin-top: 20px;
}

//Padding
.pt-12{
  padding-top: 12px;
}
.pb-12{
  padding-bottom: 12px;
}